@using Microsoft.AspNetCore.Mvc.Localization;
@using PrintSite.Resources;
@model List<Product>
@inject IViewLocalizer ViewLocalizer
@inject SharedLocalization SharedLocalizer
<div class="mainbody row container">
    <div>
        <a asp-action="CreateProduct">@ViewLocalizer["createproduct"]</a>
    </div>
    <hr />
    <div class="body">
        <div id="banner0" class="banners row">
            @foreach (var item in Model)
            {
                <div class="banner-box @(item.Visible?"":"item-hide")">
                    <form asp-action="ToggleProductVisibility">
                        <input type="hidden" name="id" value="@item.Id">
                        <img src="https://loremflickr.com/320/240/@item.Description.Replace(' ','_')" alt="@item.Description" class="img-responsive">
                        <span class="s-desc">@SharedLocalizer[item.Description]</span>
                        <button type="submit">@(item.Visible ? @ViewLocalizer["hide"] : @ViewLocalizer["show"])</button>
                    </form>
                    <form asp-action="DeleteProduct">
                        <input type="hidden" name="id" value="@item.Id">
                        <button type="submit">@ViewLocalizer["delete"]</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>