@using Microsoft.AspNetCore.Mvc.Localization;
@using PrintSite.Resources;
@model PrintSite.Models.Order
@inject IViewLocalizer ViewLocalizer
@inject SharedLocalization SharedLocalizer
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderEdit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Products" class="control-label">@SharedLocalizer["products"]</label>
                <select asp-for="Products" >
                    @foreach (var item in Model.Products)
                    {
                        <option>@SharedLocalizer[item.Description]</option>
                    }
                </select>
                <label asp-for="Price" class="control-label">@SharedLocalizer["price"]</label>
                <input asp-for="Price" class="form-control" />
                <label asp-for="Status.Status" class="control-label">@SharedLocalizer["status"]</label>
                <input asp-for="Status.Status" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-action="OrderEdit" type="submit" value="@SharedLocalizer["save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

