@using PrintSite.Resources;
@inject SharedLocalization SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PrintSite</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/PrintSite.styles.css" asp-append-version="true">

</head>
<body class="main">
    <header>
        <div class="row container" style="margin-bottom:1%">
            <div class="row nopad languages" style="padding: 0 15px;">
                <a class="pull-right" asp-action="SetLanguage" asp-controller="Home" asp-route-language="ru">RU</a>
                <span class="pull-right bluebar">|</span>
                <a class="pull-right" asp-action="SetLanguage" asp-controller="Home" asp-route-language="en-US">EN</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <partial class="pull-right" name="_CartDisplay"/>
                    @if (User.IsInRole("admin"))
                    {
                        <partial class="pull-right" name="_AdminPanel"/>
                    }
                }
                <partial class="pull-right" name="_LoginPartial">

            </div>
            <div class="col-sm-12 nopad">
                <a href="~/"><img alt="PrintSite" src="~/img/sitelogo.png"></a>
            </div>
        </div>

        <div class="row container row-eq-height ">
            <div class="hidden-sm col-md-3 nopad">
                <div class="box-title text-center bluebox">
                    <h3><a href="~/" style="border-bottom: 1px dotted;">@SharedLocalizer["products"]</a></h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 nopad">

                <nav class="">
                    <div class="nav pull-left topNavReg">

                        <ul class="topMenu topMenuReg pull-left menus">
                            <li>
                                <a href="/Home/About" title="@SharedLocalizer["about"]">
                                    <i class="fa fa-angle-right"></i>
                                    <span>@SharedLocalizer["about"]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>


        </div>
    </header>
    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - PrintSite
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
