@using Microsoft.AspNetCore.Identity
@using PrintSite.Resources;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject SharedLocalization SharedLocalizer

<ul class="navbar-nav" style="padding:0;">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark" >@SharedLocalizer["Hello"] @User.Identity?.Name!</span> | 
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn-link text-dark" style="border:0;">@SharedLocalizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@SharedLocalizer["Register"]</a> | 
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@SharedLocalizer["Login"]</a>
        </li>
    }
</ul>
