@page
@using PrintSite.Resources;
@model RegisterModel
@inject SharedLocalization SharedLocalizer
<h1>@SharedLocalizer["Register"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Email">@SharedLocalizer["email"]</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Password">@SharedLocalizer["password"]</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@SharedLocalizer["password"]" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.ConfirmPassword">@SharedLocalizer["passwordconfirm"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@SharedLocalizer["password"]" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Register"]</button>
        </form>
    </div>
</div>